<form method="post" action="{{ path('author_delete', {'id': author.id}) }}" onsubmit="return confirm('Автор будет удален');">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-sm btn-danger">Удалить</button>
</form>
