{% extends 'base.html.twig' %}

{% block title %}Админка{% endblock %}

{% block body %}
    {{ include('_nav_bar.html.twig', {'page': 'homepage'}) }}

    <div class="container mt-2">
        <h5 class="mt-4">Тестовое задание “Каталог авторов и книг”</h5>

        <b class="d-block mt-4">Выполнил: Вихор Михаил</b>
        <br>

        <b class="mt-2">Технические требования</b>
        <ul>
            <li>composer ровно 1.8.6</li>
            <li>Symfony 4.4.x</li>
            <li>PHP 7.2.x</li>
            <li>MySQL 5.7 в docker контейнере, допускается использование docker-composer версии 2.x</li>
            <li>Проект должен запускаться одной командой - composer install</li>
        </ul>

        <b>Критерии оценки</b>
        <ul>
            <li>SOLID</li>
            <li>DRY</li>
            <li>KISS</li>
            <li>YAGNI</li>
        </ul>

        <p>
            Общее качество кода будет оцениваться по рекомендациям
            <a href="https://symfony.com/doc/current/best_practices/index.html">
                https://symfony.com/doc/current/best_practices/index.html</a>  за исключением возможностей autowiring.
        </p>

        <b>Кроме того:</b>
        <ul>
            <li>Не использовать symfony/flex</li>
            <li>В сервисах использовать только явные зависимости</li>
            <li>Контроллеры должны быть тонкими</li>
            <li>Не должно быть закомментированного неиспользуемого кода. phpdoc и аннотации Doctrine не считаются</li>
            <li>composer validate --strict без ошибок и предупреждений</li>
            <li>В файле composer.json не должно быть не используемых секций, например, replace или conflict</li>
        </ul>

        <b>Задание</b>
        <p>
            Сделать CRUD-админку для управления авторами и книгами. У автора может быть много книг и книга может иметь много авторов.
        </p>
        <p>
            Поля автора - ФИО в отдельных полях. Не должно быть двух авторов с одинаковым ФИО.
            Поля книги: Название, год издания, ISBN, количество страниц. Не должно быть двух книг с одинаковым сочетанием названия и ISBN или названия и года издания.
        </p>

        <b>Дополнительное задание</b>
        <p>
            Дать возможность прикрепить изображение обложки книги, в формате jpeg или png, которое будет храниться в виде файла
        </p>

    </div>
{% endblock %}