<form method="post" action="{{ path('book_delete', {'id': book.id}) }}" onsubmit="return confirm('Книга будет удалена');">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-sm btn-danger">Удалить</button>
</form>
